.page {
  font-family: var(--ff-primary);
  color: var(--color-admin-primary);
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
}
