.text {
  margin-left: 12px;
  color: var(--color-admin-primary);
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.linkContent {
  display: flex;
  align-items: center;
  width: 100%;
}
