.footer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex: 1;
}

.dropdown {
  width: 85px;
}