.breadcrumbs-list {
  display: flex;
  gap: 5px;
}

.breadcrumb:not(:last-child)::after {
  content: '/';
  padding-left: 5px;
}

.breadcrumb-link {
  font-size: 16px;
  line-height: 22px;
  color: #828d9e;
}

.breadcrumb:last-child .breadcrumb-link {
  color: #1E354E;
}