.header {
  width: 100%;
  border-bottom: 1px solid var(--color-neutral-500);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1110px;
  height: 82px;
  margin: 0 auto;
}

.info {
  font-family: var(--ff-primary);
  color: var(--color-admin-primary);
}

.item {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  gap: 10px;
}
