.dropdown {
  position: relative;
  background-color: var(--color-white);
  padding: 15px;
  border-radius: 8px;
}

.dropdown-list {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgb(0 0 0 / 15%);
  overflow: hidden;
  background-color: var(--color-white);
  z-index: 1;
}